<!DOCTYPE html>
<html>
<head>
    <title>تغییر رمز عبور</title>
</head>
<body>
    <h2>تغییر رمز عبور</h2>
    <form method="post">
        {% csrf_token %}
        <label for="previous_password">رمز عبور قبلی:</label>
        <input type="password" id="previous_password" name="previous_password" required><br><br>

        <label for="new_password">رمز عبور جدید:</label>
        <input type="password" id="new_password" name="new_password" required><br><br>

        <button type="submit">تغییر رمز عبور</button>
    </form>
</body>
</html>
