<!DOCTYPE html>
<html>
<head>
    <title>مشاهده انبار</title>
</head>
<body>
    <h2>مشاهده انبار</h2>
    <p>کد: {{ depot.Code }}</p>
    <p>چک کردن موجودی انبار: {{ depot.CheckInventory }}</p>
    <p>انبار پیش فرض وب سرویس: {{ depot.DefultDepotAPI }}</p>
    <p>چک کردن موجودی انبار در پیش فاکتور: {{ depot.PreSellInvoiceCheckInventory }}</p>
    <p>روش ارزیابی انبار: {{ depot.InventoryValuation }}</p>
    <p>جنس کالا: {{ depot.ItemGender }}</p>
    <p>شرح: {{ depot.Remarks }}</p>
    <p>نوع انبار: {{ depot.DepotType }}</p>
    <p>وضعیت: {{ depot.Status }}</p>
    <p>عنوان: {{ depot.Title }}</p>
</body>
</html>
